.swal2-input {
    width: 80%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: calc(3.5rem + 2px);
    line-height: 1.25;
    border-radius: 0.25rem;
    min-height: calc(1.5em + (0.75rem + 2px));
}

.swal2-title {
    padding: 1em 1em 0;
    font-size: 1.5em;
    font-weight: 400; 
}
.swal2-styled.swal2-confirm {
    background-color: rgb(2 132 199) !important;
}